
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

/* Bree Serif */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans:wght@300;500&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


.imagem-topo{
    padding-top: 72px;
}

#texto-fonte{
    font-family: 'Bree Serif', serif;
}

.titulo{
    padding-bottom: 1.5em;
}