/* Bree Serif */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans:wght@300;500&display=swap');

.titulo__eletiva{
    color: red;
    text-align: center;
    
    font-family: 'Bree Serif', sans-serif;
    padding: 2em;
}

.eletiva1{
    font-family: 'Bree Serif', serif;
    background-color: #DBE0F8;
    border-radius: 50px;
}

.eletiva2{
    font-family: 'Bree Serif', serif;
    background-color: #F6989C;
    border-radius: 50px;
}

.botao_eletiva{
    background-color: #ED1218;
    text-decoration: none;
    color: white;
    border: 0.5vw transparent;
    position: relative;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    width: 40em;
    height: auto;
    text-align: center;
    margin-left: 1vw;
    border-radius: 25px;
    justify-content: center;
    flex-grow: 0 !important;
    margin: 10%;
    padding: 0.2em;
}

.container-botao{
    display: flex;  
    justify-content: center;  
    align-items: center;  
}