/* barra manu */
header, .navbar{
    background-color: #DBE0F8;
    border-bottom: solid gray 1px;
    box-shadow: 0px 1px 50px rgba(0,0,0,0.15);
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
    
}

.container{
    padding: 4vw 0;
}


.navbar .botoes .borda:after{
    display:block;
    content: '';
    border-bottom: solid 3px black;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    height: 35%;
    border-radius: 3px;
    
}

.nav-item {
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    
    text-align: center;
    font-family: 'Bree Serif', sans-serif ;
}


.navbar .botoes .borda:hover:after{
    transform: scaleX(1);
}

.doar{
    background-color: #ED1218;
    text-decoration: none;
    color: white;
    border: 0.5vw transparent;
    position: relative;    
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    min-width: 80px;
    height: 45px;
    text-align: center;
    margin-left: 1vw;
    border-radius: 25px;
    justify-content: center;
    flex-grow: 0 !important;
    max-width: 80px;
}

@media screen and (min-width:992px){
    .dropdown:hover .dropdown-menu{
        display: block;
        margin-top: 0;
    }
    .dropdown .dropdown-menu{
        display: none;
    }
}

.borda-ativa{
    display:block;    
    border-bottom: solid 3px black;  
    height: 83%;
    border-radius: 3px;
}

.navbar-toggler{
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus{
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

.navbar-toggler span{
    margin: 0;
    padding: 0;
}

.toggler-icon{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: gray;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar{
    margin-top: 0px;
}

/* depois de clicar */

.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

/* quando a navbar ta fechada */

.navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}