.info p{
text-align: center;
font-size: 20px;
}

.bolha{
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    border: solid;
    width: 200px;
    height: 200px;
    line-height: 200px;
    margin: 10px;
}

.bolha #texto{
    font-size: 50px;
    align-items: center;
}

.container-com-borda-arredondada {
    border: 2px solid #000; /* Cor e espessura da borda */
    border-radius: 10px; /* Raio do arredondamento */
    background-color: rgba(173,216,230);
    
}


.img, .p{
    display: inline-block;
    align-items: center;   
}

#menu{
   position: fixed; 
   top:0;
   width:100%;
}
